In [1]:
import pandas as pd

rides = pd.read_parquet('../data/transformed/validated_rides_2022-01.parquet')

In [2]:
rides.head(10)

      pickup_datetime  pickup_location_id
0 2022-01-01 00:35:40                 142
1 2022-01-01 00:33:43                 236
2 2022-01-01 00:53:21                 166
3 2022-01-01 00:25:21                 114
4 2022-01-01 00:36:48                  68
5 2022-01-01 00:40:15                 138
6 2022-01-01 00:20:50                 233
7 2022-01-01 00:13:04                 238
8 2022-01-01 00:30:02                 166
9 2022-01-01 00:48:52                 236

In [4]:
rides['pickup_hour'] = rides['pickup_datetime'].dt.floor('h')

In [5]:
agg_rides = rides.groupby(['pickup_hour', 'pickup_location_id']).size().reset_index()
agg_rides.rename(columns={0: 'rides'}, inplace=True)

In [7]:
agg_rides.head(10)

  pickup_hour  pickup_location_id  rides
0  2022-01-01                   4     11
1  2022-01-01                   7      6
2  2022-01-01                  10      1
3  2022-01-01                  12      2
4  2022-01-01                  13     12
5  2022-01-01                  24     11
6  2022-01-01                  25      5
7  2022-01-01                  33      5
8  2022-01-01                  41     12
9  2022-01-01                  42      3

In [ ]:
from tqdm import tqdm

def add_missing_slots(agg_rides: pd.DataFrame) -> pd.DataFrame:

    location_ids = agg_rides['pickup_location_id'].unique()
    full_range = pd.date_range(
        agg_rides['pickup_hour'].min(),
        agg_rides['pickup_hour'].max(),
        freq='h'
    )
    output = pd.DataFrame()
    for location_id in tqdm(location_ids):

        # keep only rides for this location id
        agg_rides_i = agg_rides.loc[agg_rides.pickup_lcation_id == location_id, ['pickup_hour', 'rides']]